Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
*/Makefile
*/Makefile.in
*/rott*
*/*.o
*/*/Makefile
*/*/Makefile.in
*/*/*.a
*/*/*.o
*/*/.deps/
*/.deps/
