#!/usr/bin/make -f

CFLAGS += -DDATADIR=\"/usr/share/games/rott/\"
CFLAGS += -Wno-pointer-sign -Wno-unused

debian/rott.xpm: debian/rott.png
	convert $^ $@

debian/rott.png: debian/rott.svg
	inkscape --export-png=$@ $^

%:
	dh $@ --sourcedir=rott

override_dh_auto_build:
	# Shareware Version
	$(MAKE) -C rott tidy
	dh_auto_build -- ROTT=rott-shareware
	# Commercial Version
	$(MAKE) -C rott tidy
	dh_auto_build -- ROTT=rott-commercial  SHAREWARE=0
	# CD Version
	$(MAKE) -C rott tidy
	dh_auto_build -- ROTT=rott-superrott   SHAREWARE=0 SUPERROTT=1
	# Site License CD Version
	$(MAKE) -C rott tidy
	dh_auto_build -- ROTT=rott-sitelicense SHAREWARE=0 SITELICENSE=1
