name: Build Packages

on:
  push:
    branches: [ main ]
    tags: ['*']
    paths-ignore: ['**.md']
  pull_request:
    branches: [ main ]
    paths-ignore: ['**.md']

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - name: MSVC x64
            os: windows-latest
            arch: x64
            toolchain: ${env:VCPKG_INSTALLATION_ROOT}
            triplet: x64-windows-static-release
            artifact-name: Win-64
            artifact-path: build/*.zip
            extra-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded
              -DCMAKE_IGNORE_PATH="C:/Strawberry/perl/bin;C:/Strawberry/c/lib"

    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: >-
          cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
          -DCMAKE_TOOLCHAIN_FILE="${{ matrix.config.toolchain }}/scripts/buildsystems/vcpkg.cmake"
          -DVCPKG_TARGET_TRIPLET=${{ matrix.config.triplet }}
          ${{ matrix.config.extra-options }}

      - name: Build
        run: cmake --build build --config "Release"

      - name: Package (Windows)
        if: runner.os == 'Windows'
        run: |
          cd build
          cpack

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.config.artifact-name }}
          path: ${{ matrix.config.artifact-path }}
